<template>
  <q-page class="q-pa-md">
      <b>Ejercicio 1:</b>
      <ol>
        <li>Editar la presente página a fin de agregar una tabla que liste usuarios.</li>
        <li>Los usuarios deberen ser obtenidos mediante el comsumo de los sevicios expuestos en https://gorest.co.in/</li>
        <li>Para el ejercicio utilizar el o los componente Quasar que crea convenientes.</li>
        <li>La tabla debe ser paginada del lado servidor.</li>
        <li>Para realizar el test del presente ejercicio se utilizará la capacidad de throttling de las dev tools de Chrome. Se espera que el feedback sea el correcto aún teniendo mala o nula conexión con el servidor.</li>
      </ol>
  </q-page>
</template>

<script>
export default {
}
</script>
