<template>
  <q-page class="q-pa-md">
      <b>Ejercicio 3:</b>
      <ol>
        <li>Editar la presente página agregando un componente de propia autoría</li>
        <li>Se espera que el componente reciba una lista de urls de imágenes y las muestre por pantalla.</li>
        <li>Al hacer click sobre una imagen la debe eliminar de la lista</li>
        <li>Debe ser responsive (<a target="_blank" href="https://quasar.dev/style/breakpoints#Introduction">Breakpoints)</a></li>
          <ul>
            <li>En XS: debe mostrar una imagen por fila</li>
            <li>En SM o MD: 3 por fila</li>
            <li>LG o más: 4 por fila</li>
            <li>En todos los casos las imágenes deben expandirse horizontalmente hasta ocupar todo el ancho de la página, siempre manteniendo su formato original</li>
          </ul>
        <li>Para el ejercicio utilizar el o los componente Quasar que crea convenientes.</li>
      </ol>
  </q-page>
</template>

<script>
export default {
}
</script>
