<template>
  <q-page class="q-pa-md">
      <b>Ejercicio 2:</b>
      <ol>
        <li>Editar la presente página a fin de que permita crear un nuevo usuario</li>
        <li>El usuario debe ser creado mediante el uso del servicio expuesto en https://gorest.co.in/</li>
        <li>Para el ejercicio utilizar el o los componente Quasar que crea convenientes.</li>
        <li>Se debe dar feedback al usuario tanto por éxito como por cualquier error ya sea de conexión o interno del servidor.</li>
        <li>Para realizar el test del presente ejercicio se utilizará la capacidad de throttling de las dev tools de Chrome. Se espera que el feedback sea el correcto aún teniendo mala o nula conexión con el servidor.</li>
      </ol>
  </q-page>
</template>

<script>
export default {
}
</script>
